<h1>Submit Paper</h1>
<a href="{% url 'authorViewPaper' %}">View paper page</a> <br>
<a href="{% url 'authorSubmitPaper' %}">Submit paper page</a> <br>
<a href="{% url 'authorRateReview' %}"> Rate review</a> <br>
<a href="{% url 'logout'%}">logout</a>

<form action="../submitPaper/" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <p>Topic:</p>
  <input name="topic" /> <br />
  <p>Description:</p>
  <textarea name="description" cols="30" rows="10"></textarea> <br />
  <p>Upload File here:</p>
  <p>{{ form.file }}</p>

  <label for="authors">Choose co-author(s):</label> <br />
  <select name="authors" id="authors" multiple>
    {% for author in authors %}
    <option value="{{author.id}}">{{author.name}}</option>
    {% endfor %}
  </select>

  <p><input type="submit" value="Upload" /></p>
</form>

