<a href="/reviewer/bid/">Bid Paper</a>
<a href="/reviewer/papers/">View papers</a>
<a href="/reviewer/settings/">Settings</a>
<a href="{% url 'logout'%}">logout</a>

<h1>Bid For a paper</h1>

<table border="1">
    <tr>
      <td>ID</td>
      <td>Topic</td>
      <td>Description</td>
      <td>Submitted date</td>
      <td>File Name</td>
      <td>Author</td>
      <td>Actions</td>
    </tr>
    {% for paper in papers %}
    <tr>
      <td>{{ paper.id }}</td>
      <td>{{ paper.topic }}</td>
      <td>{{ paper.description }}</td>
      <td>{{ paper.submitted_date }}</td>
      <td>{{ paper.fileName }}</td>
      <td></td>
      <td><a href="./add_bid/{{paper.id}}">Bid</a></td>
    </tr>
    {% endfor %}
</table>