<a href="/reviewer/bid/">Bid Paper</a>
<a href="/reviewer/papers/">View papers</a>
<a href="/reviewer/settings/">Settings</a>
<a href="{% url 'logout'%}">logout</a>

<h1>Bid For a paper</h1>
<h4>Max Papers: {{max_paper}} </h4>
<h4>Avaliable Papers for bidding: </h4>

<table border="1">
    <tr>
      <td>ID</td>
      <td>Topic</td>
      <td>Description</td>
      <td>Submitted date</td>
      <td>File Name</td>
      <td>Author</td>
      <td>Actions</td>
    </tr>
    {% for paper in papers %}
    <tr>
      <td>{{ paper.id }}</td>
      <td>{{ paper.topic }}</td>
      <td>{{ paper.description }}</td>
      <td>{{ paper.submitted_date }}</td>
      <td>{{ paper.fileName }}</td>
      <td>
        {% for author in paper.authors.all %}
        <li>ID: {{ author.id }} - Name: {{ author.name }}</li>
        {% endfor %}
      </td>
      <td><a href="./add/{{paper.id}}">Bid</a></td>
    </tr>
    {% endfor %}
</table>