<a href="/reviewer/bid/">Bid Paper</a>
<a href="/reviewer/papers/">View papers</a>
<a href="/reviewer/settings/">Settings</a>
<a href="{% url 'logout'%}">logout</a>

<h1>Reviewing Paper</h1>

<h4>Paper ID : {{paper.id}}</h4>
<h4>Topic: {{paper.topic}}</h4>
<p>Description: {{paper.description}}</p>
<p>Download/View paper: <a href="readSubmittedPaper/{{ paper.id }}">{{ paper.fileName }}</a></p>
<p>Submitted Date: {{paper.submitted_date}}</p>
<p>Written by: <br />
  {% for author in paper.authors.all %}
  {{ author.name }}<br />
  {% endfor %}
</p>

<hr>

{% if review == None %}
<h1>Submit Your Review</h1>

<form action="./create/{{bid_id}}"method="POST">

  {% csrf_token %} 
  Title: <br />
  <input name="title" />
  <br /><br />
  Review Description: <br />
  <textarea name="description" rows="4" cols="50">

  </textarea>
  <br /><br />
  Rating/Score: <br />
  <select name="rating">
    <option value="3">Strong Accept</option>
    <option value="2">Accept</option>
    <option value="1">Weak Accept</option>
    <option value="0">Borderline Paper</option>
    <option value="-1">Weak Reject</option>
    <option value="-2">Reject</option>
    <option value="-3">Strong Reject</option>
  </select>
  <br /><br />

  <input type="submit" value="Submit" />

</form>
{% else %}
<h1>Your Review</h1>

<h4>{{review.title}}</h4>
<p>{{review.description}}</p>
<p>Rating/Score: {{review.rating}}</p>
{%endif%}


<hr>

<h1>Current Posted Reviews</h1>

<h4>Title: </h4>
<p>Description Here</p>
<p>Rating: /5</p>
<p> Comments </p>