<h1> Reviewer Settings </h1>

<a href="/reviewer/bid/">Bid Paper</a>
<a href="/reviewer/papers/">View papers</a>
<a href="/reviewer/settings/">Settings</a>
<a href="{% url 'logout'%}">logout</a>

<br/>
<!--Error Messages-->
{% if messages %}
{% for message in messages %}
<p class="alert alert-{{ message.tags }}">
  {{ message }}
</p>
{% endfor %}
{% endif %}

<form method="post" action="./update">
    {% csrf_token %}
    <p>Max Papers: </p>
    <input name="maxpaper" value="{{ max_paper }}" />
    <br /><br />
    <input type="submit" value="Submit" />
</form>