<a href="/reviewer/bid/">Bid Paper</a>
<a href="/reviewer/papers/">View papers</a>
<a href="/reviewer/settings/">Settings</a>
<a href="{% url 'logout'%}">logout</a>


<h1>Papers to be reviewed</h1>

<table border="1">
  <tr>
    <td>BID ID</td>
    <td>Paper ID</td>
    <td>Bid Date</td>
    <td>Submission Date</td>
    <td>Status</td>
    <td>Action</td>
  </tr>
  {% for paper in assigned_list %}
  <tr>
    <td>{{ paper.id }}</td>
    <td>{{ paper.paper_id}}</td>
    <td>{{ paper.bid_date }}</td>
    <td>{{ paper.submission_date }}</td>
    <td>{{ paper.status }}</td>
    <td><a href="./review/{{ paper.id }}">Review</a></td>
  </tr>
  {% endfor %}
</table>

<h1>Reviewed Papers</h1>

<table border="1">
  <tr>
    <td>BID ID</td>
    <td>Paper ID</td>
    <td>Bid Date</td>
    <td>Submission Date</td>
    <td>Status</td>
    <td>Action</td>
  </tr>
  {% for paper in completed_list %}
  <tr>
    <td>{{ paper.id }}</td>
    <td>{{ paper.paper_id}}</td>
    <td>{{ paper.bid_date }}</td>
    <td>{{ paper.submission_date }}</td>
    <td>{{ paper.status }}</td>
    <td><a href="./review/{{paper.id}}">View</a></td>
  </tr>
  {% endfor %}
</table>