<h1>View Bidded Paper</h1>

<a href="/conferenceChair/viewBiddedPaper/">view bidded paper</a>
<a href="{% url 'logout'%}">logout</a>

<h2>Need to be allocated</h2>
<table border="1">
  <tr>
    <td>Paper ID</td>
    <td>Reviewer candidate</td>
    <td>Allocate button</td>
  </tr>
  {% for paper in paper_id_list_not_allocate %}
  <tr>
    <td>{{ paper.paper_id }}</td>
    <td>
      {% for r in paper.reviewer%}
      <ul>
        <li>Reviewer ID {{ r }}</li>
      </ul>
      {% endfor %}
    </td>
    <td><a href="allocatePaper/{{paper.paper_id}}">allocate</a></td>
  </tr>
  {% endfor %}
</table>

<h2>Allocated</h2>
<table border="1">
  <tr>
    <td>Paper ID</td>
    <td>Reviewer ID</td>
    <td>View Reviewer Button</td>
  </tr>
  <tr>
    {% for paper in paper_id_list_allocated %}
    <td>{{ paper.paper_id }}</td>
    <td>
      {% for r in paper.reviewer%}
      <ul>
        <li>Reviewer ID {{ r }}</li>
      </ul>
      {% endfor %}
    </td>
    <td>
      <a href="#">View Reviewer</a>
    </td>
  </tr>
  {% endfor %}
</table>
