<h1>Users</h1>

<table border = "1">
    <tr>
        <td>ID</td>
        <td>Full name</td>
        <td>Username</td>
        <td>Password</td>
        <td>Delete</td>
    </tr>
    {% for user in myusers%}
    <tr>
        <td><a href="../update/{{ user.id }}"> {{ user.id   }}</a></td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td><a href="../delete/{{ user.id }}">delete</a></td>
    </tr>
    {% endfor %}
</table>

<a href="../">Back to log in page</a>